<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('../layout/navigation.ejs') %>

    <!-- message -->
    <%- include('../components/message.ejs', message) %>

    <header>
      <div class="jumbotron justify-content-center bg-dark">
        <h1 class="display-4 text-center text-white font-weight-bold">
          <%= pageTitle %>
        </h1>
        <p class="lead text-center text-white-50">DriveTest Booking Kiosk</p>
      </div>
    </header>

    <main
      class="d-flex justify-content-center py-5 flex-column align-items-center"
    >
      <form
        class="needs-validation col-4 d-flex justify-content-center flex-column signForm"
        action="/postAppoint"
        method="post"
      >
        <div class="col-12 formItems">
          <label for="confirmPw">Appointment Date</label>
          <input
            type="date"
            class="form-control"
            name="date"
            id="appointDate"
          />
        </div>

        <div class="col-12 formItems">
          <input type="hidden" value="<%= appointments %>" id="appointments" />
          <label for="confirmPw">Appointment slots</label>
          <select
            class="form-control"
            aria-label="Default select example"
            name="time"
            id="appointSlots"
          >
            <!-- render by js -->
            <!-- <option value="09:00 AM">09:00 AM</option>
            <option value="09:30 AM">09:30 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="10:30 AM">10:30 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="11:30 AM">11:30 AM</option>
            <option value="12:00 PM">12:00 PM</option>
            <option value="12:30 PM">12:30 PM</option>
            <option value="1:00 PM">1:00 PM</option>
            <option value="1:30 PM">1:30 PM</option>
            <option value="2:00 PM">2:00 PM</option> -->
          </select>
        </div>

        <button type="submit" class="btn btn-primary my-3 appointmentBtn">
          Submit
        </button>
      </form>
    </main>

    <!-- footer -->
    <%- include('../layout/footer.ejs') %>
    <!-- script -->
    <%- include('../layout/end.ejs')%>
  </body>
</html>
