<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('../layout/navigation.ejs') %>

    <header>
      <div class="jumbotron justify-content-center bg-dark">
        <h1 class="display-4 text-center text-white font-weight-bold">
          <%= pageTitle %>
        </h1>
        <p class="lead text-center text-white-50">DriveTest Booking Kiosk</p>
      </div>
    </header>

    <main>
      <div class="jumbotron justify-content-center bg-white">
        <h1 class="text-center font-weight-bold">
          You can book G2/G drive test from this Kiosk
        </h1>
        <p class="lead text-center font-weight-bold">
          You can book G2/G drive test from this Kiosk
        </p>
      </div>
    </main>

    <!-- footer -->
    <%- include('../layout/footer.ejs') %>
    <!-- script -->
    <%- include('../layout/end.ejs')%>
  </body>
</html>
