<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('../layout/navigation.ejs') %>

    <header>
      <div class="jumbotron justify-content-center bg-dark">
        <h1 class="display-4 text-center text-white font-weight-bold">
          <%= pageTitle %>
        </h1>
        <p class="lead text-center text-white-50">Book a road test.</p>
      </div>
    </header>

    <main
      class="d-flex justify-content-center py-3 flex-column align-items-center"
    >
      <!-- message -->
      <%- include('../components/message.ejs', message) %>

      <form
        class="needs-validation col-md-6 d-flex justify-content-center flex-column"
        action="/G2_TEST"
        method="post"
      >
        <!-- Full Name -->
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="FirstName">First name</label>
            <input type="text" class="form-control" id="FirstName"
            name="FirstName" placeholder="First name" value="<%= user.firstName
            == 'default' ? '': user.firstName%>" <%= user.firstName == 'default'
            ? '' : "disabled" %> />
          </div>
          <div class="col-md-6 mb-3">
            <label for="LastName">Last name</label>
            <input type="text" class="form-control" id="LastName"
            name="LastName" placeholder="Last name" value="<%= user.lastName ==
            'default'?'': user.lastName%>" <%= user.lastName == 'default' ? '' :
            "disabled" %> />
          </div>
        </div>

        <div class="form-row">
          <% if (user.LicenseNo == 'default') { %>
          <div class="col-md-12 mb-3">
            <label for="LicenseNumber">License Number</label>
            <input type="text" class="form-control" id="LicenseNumber"
            name="LicenseNumber" placeholder="License Number" maxlength="15"
            size="15" value="<%= user.LicenseNo == 'default'?'':
            user.LicenseNo%>" <%= user.LicenseNo == 'default' ? '' : "disabled"
            %> />
          </div>
          <% } %>

          <div class="col-md-12 mb-3">
            <label for="Age">Age</label>
            <input type="number" class="form-control" id="Age" name="Age"
            placeholder="Age" min="18" max="99" value="<%= user.Age ==
            'default'?'': user.Age%>" required <%= user.LicenseNo == 'default' ?
            null : "disabled" %> />
          </div>
        </div>

        <hr />

        <div class="form-row">
          <legend class="col-form-label col-md-12 pt-0">Car details</legend>
          <div class="col-md-12 mb-3">
            <div class="col-md-12 mb-3 px-0">
              <label for="ieMake"> ie make </label>
              <input
                class="form-control"
                type="text"
                name="ieMake"
                id="ieMake"
                placeholder="ieMake"
                value="<%= user.car_details.make == 'default'?'': user.car_details.make %>"
              />
            </div>
            <div class="col-md-12 mb-3 px-0">
              <label for="model">model</label>
              <input
                class="form-control"
                type="text"
                name="model"
                id="model"
                placeholder="model"
                value="<%= user.car_details.model == 'default'?'': user.car_details.model%>"
              />
            </div>
            <div class="col-md-12 mb-3 px-0">
              <label for="year">year </label>
              <input
                class="form-control"
                type="number"
                name="year"
                id="year"
                placeholder="year"
                min="0"
                minlength="4"
                maxlength="4"
                value="<%= user.car_details.year == 'default'?'': user.car_details.year%>"
              />
            </div>

            <div class="col-md-12 mb-3 px-0">
              <label for="platNumber">plat number</label>
              <input
                class="form-control"
                type="platNo"
                name="platNumber"
                id="platNumber"
                placeholder="plat number"
                value="<%= user.car_details.platNo == 'default'?'': user.car_details.platNo%>"
              />
            </div>
          </div>
        </div>

        <hr />
        <h3 class="mb-3">You already booked these time as below:</h3>
        <ol class="d-flex flex-column justify-content-around w-100">
          <% filterData.forEach(item => { %>
          <li class="d-flex justify-content-around w-50">
            <p class="p-2"><%= item.date %></p>
            <p class="p-2"><%= item.time %></p>
          </li>
          <% }) %>
        </ol>
        <hr />
        <input type="hidden" value="<%= appointments %>" id="appointments" />
        <div class="col-12 formItems">
          <label for="confirmPw">Appointment Date</label>
          <input
            type="date"
            class="form-control"
            name="date"
            id="userAppointDate"
            value=""
          />
        </div>

        <div class="col-12 formItems">
          <label for="confirmPw">Appointment slots</label>
          <select
            class="form-control"
            aria-label="Default select example"
            name="time"
            id="userAppointSlots"
          ></select>
        </div>

        <hr />
        <input type="hidden" value="<%= user._id %>" name="userId" />
        <button class="btn btn-primary">Submit form</button>
      </form>
    </main>

    <!-- footer -->
    <%- include('../layout/footer.ejs') %>
    <!-- script -->
    <%- include('../layout/end.ejs')%>
  </body>
</html>
