<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand fontWeight" href="/">DriveTest</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse py-3" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if (isAuthenticated) { %>
      <li class="nav-item <%= path == '/dashboard' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/">DASHBOARD </a>
      </li>
      <% if (userType == 'Driver') { %>
      <li class="nav-item <%= path == '/G2_TEST' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/G2_TEST">G2_TEST</a>
      </li>
      <li class="nav-item <%= path == '/G_TEST' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/G_TEST">G_TEST</a>
      </li>
      <% } %> <% if (userType == 'Admin') { %>
      <li class="nav-item <%= path == '/appointment' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/appointment">APPOINTMENT</a>
      </li>
      <li class="nav-item <%= path == '/adminView' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/adminView">Admin</a>
      </li>
      <% } %> <% if (userType == 'Examiner') { %>
      <li class="nav-item <%= path == '/examinerPage' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/examiner/AccessExaminerPage"
          >Exam</a
        >
      </li>
      <% } %>

      <li class="nav-item <%= path == '/LOGIN' ?'active':'' %> px-2">
        <form action="/auth/logout" method="post" class="logoutForm">
          <button type="submit" class="logoutBtn">LOGOUT</button>
        </form>
        <!-- <a class="nav-link fontWeight" href="/auth/logout">LOGOUT</a> -->
      </li>
      <% } else { %>
      <li class="nav-item <%= path == '/dashboard' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/">Home</a>
      </li>
      <li class="nav-item <%= path == '/LOGIN' ?'active':'' %> px-2">
        <a class="nav-link fontWeight" href="/auth/login">LOGIN</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
